<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Ad Testing</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <script src="/js/tester.js"></script>
</head>
<body>
  <!--begin.rcode echo=FALSE
      opts_chunk$set(echo=FALSE,message=FALSE,warning=FALSE,fig.width=12,fig.height=8,upload.fun = image_uri)
      set.seed(125124)
      ho0 <- knit_hooks$get('output')

      knit_hooks$set(
         output = function(x, options) {
            paste0("<div class='wrapoutput'>", ho0(x,options), "</div>")
    }
  )
      end.rcode -->
  <div class="container">
    <h1>Ad Testing</h1>
    <div id="testgame">
    </div>
  </div>
  <script type="text/javascript">
    var elmDiv = document.getElementById('testgame');
    Elm.embed(Elm.Tester, elmDiv);
</script>
</body>
